<li class="nav-item">
  <a class="nav-link <%if (active == 'login'){%> active<%}%>" href="/"> Login </a>
</li>
<li class="nav-item">
  <a class= "nav-link <%if (active == 'register'){%> active<%}%>" href="/register"> Register </a>
</li>