<li class="nav-item">
  <a class="nav-link active" href="/home"> Home </a>
</li>
<li class="nav-item">
  <a class= "nav-link" href="/settings"> Settings </a>
</li>
<a class="btn btn-danger" href="/logout"> Logout </a>